@using BLL.Services.Client
@using Microsoft.AspNet.Identity

<nav>
    @if ((bool?)TempData["PassNotChanged"] != true)
    {
        <ul class="nav nav-pills nav-stacked">
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                @Html.ActionLink("Изменить данные", "Index", "Client")
            </li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ChangePassword" ? "active" : "")">
                @Html.ActionLink("Смена пароля", "ChangePassword", "Manage")
            </li>
            @if (DependencyResolver.Current.GetService<ClientService>().CanAddCreditRequest(int.Parse(User.Identity.GetUserId())).Value)
            {
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "AddCredit" ? "active" : "")">
                    @Html.ActionLink("Новый кредит", "AddCredit", "Client")
                </li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "CreditRequests" ? "active" : "")">
                    @Html.ActionLink("Заявки", "CreditRequests", "Client")
                </li>
            }
        </ul>
    }
    else
    {
        <ul class="nav nav-pills nav-stacked">
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ChangePassword" ? "active" : "")">
                @Html.ActionLink("Смена пароля", "ChangePassword", "Manage")
            </li>
        </ul>
    }
</nav>
