@{
    if (ViewBag.isValid == null)
    {
        ViewBag.isValid = true;
    }
}

<nav>
    <ul class="nav nav-pills nav-stacked">
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
            @Html.ActionLink("Изменить данные", "Index", "Client")
        </li>
        @if (ViewBag.isValid)
        {
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "AddCredit" ? "active" : "")">
                @Html.ActionLink("Новый кредит", "AddCredit", "Client")
            </li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "CreditRequests" ? "active" : "")">
                @Html.ActionLink("Заявки", "CreditRequests", "Client")
            </li>
        }
    </ul>
</nav>
