@model IEnumerable<BLL.Services.Credits.BankCredits.CreditTypes.ViewModels.CreditTypeViewModel>

@{
    ViewBag.Title = "Кредитные предложения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_AdminMenuPartial")
    </div>
    <div class="col-md-9">
        <h2>@ViewBag.Title</h2>
        
        <div class="row">
            @Html.ActionLink("Добавить", "CreditAdd", "Admin", new { reqNum = 1, condNum = 1 }, new { @class = "btn btn-primary col-md-2" })
            @using (Html.BeginForm("CreditTypes", "Admin", FormMethod.Get))
            {
                <div class="form-group col-md-offset-3 col-md-1">
                    <input type="checkbox" class="form-control" name="showArchived" id="showArchived" value="true" required @(ViewBag.showArchived ? "checked" : "") />
                    <input type="hidden" value="false" name="showArchived">
                </div>
                <div class="col-md-3">
                    <label>
                        Отображать архивные предложения
                    </label>
                </div>

                <div class="col-md-offset-1 col-md-2">
                    <button type="submit" class="btn btn-primary ">Поиск</button>
                </div>
            }
        </div>
        
        <div class="row">
            

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Наименование</th>
                        <th>Ставка, % год.</th>
                        <th>Размер пени, %</th>
                        <th>Описание</th>
                        <th>Полное описание</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var index = 0; }
                    @foreach (var credit in Model)
                    {
                        index++;
                        <tr>
                            <td>@index</td>
                            <td>@credit.Name</td>
                            <td>@(credit.InterestRate * 100)</td>
                            <td>@(credit.FineInterest * 100)</td>
                            @if (credit.Description.Length < 70)
                            {
                                <td>@credit.Description</td>
                            }
                            else
                            {
                                <td>@(credit.Description.Remove(70) + "...")</td>
                            }
                            <td>@Html.ActionLink("Подробнее", "CreditFullDescription", new {typeId = credit.Id})</td>
                            @using (Html.BeginForm("CreditMoveToArchive", "Admin", FormMethod.Post))
                            {
                                <input type="hidden" name="id" value="@credit.Id"/>
                                <td><button type="submit" class="btn @(credit.IsArchived? "btn-success" : "btn-danger")">@(credit.IsArchived ? "Актуализировать" : "Архивировать")</button></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>