@model BLL.Services.Credits.CreditAccount.ViewModels.CreditAccountViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Договор #@Model.CreditAgreementNumber</title>
</head>
<body>
    <h1>Кредитный договор #@Model.CreditAgreementNumber</h1>
<p align="justify">г. Минск &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Model.AgreementDate.ToShortDateString()</p>
<p align="justify"><br>&nbsp;Хоум Чалей Банк, именуемый в дальнейшем "Банк", в лице сотрудника @Model.CreditRequest.OperatorApproved.FullName,
    действующего на основании Устава, с одной стороны, и @Model.Client.FullName, именуемый в дальнейшем "Заемщик", с другой стороны, заключили настоящий договор о нижеследующем:</p>
<p align="justify">&nbsp;I. ПРЕДМЕТ ДОГОВОРА<br>&nbsp;1.1. Банк предоставляет Заемщику кредит в сумме @Model.CreditRequest.CreditSum.Value @Model.CreditRequest.CreditSum.Currency.Name на срок @Model.CreditRequest.MonthDuration месяцев со взиманием @(Model.CreditType.InterestRate * 10) %% годовых.<br>
    &nbsp;1.2. Погашение кредита осуществляется с расчетно-текущего счета #@Model.Id</p>
<p align="justify">&nbsp;III. ПОРЯДОК РАСЧЕТОВ<br>
    &nbsp;3.1. Заемщик производит возврат ссуды в срок, обусловленный срочным обязательством, платежным поручением. 3.2. Проценты по выданной ссуде начисляются ежеквартально и на дату возврата ссуды. Расчет процентов перечисляется Банку платежными поручениями Заемщика до 10 числа или в следующий за ним рабочий день каждого квартала, за который производится начисление.<br>
    &nbsp;3.3. Отсчет срока по начислению процентов начинается с даты списания средств со счета Банка и заканчивается датой зачисления их на счет Банка. Документальным основанием для расчета процентов служат выписки из лицевого счета банка.<br>
    &nbsp;3.4. С просроченной задолженности и суммы неуплаченных в срок процентов за пользование кредитом взимается повышенная процентная ставка @Model.CreditType.FineInterest% от суммы просроченной задолженности за каждый день просрочки .</p>
<p align="justify">&nbsp;IV. ОБЯЗАТЕЛЬСТВА БАНКА<br>&nbsp;4.1. Банк обязуется произвести своевременное перечисление ссуды в срок, указанный Заемщиком.</p>
<p align="justify">&nbsp;V. ОБЯЗАТЕЛЬСТВА ЗАЕМЩИКА<br>
    &nbsp;5.1. Для получения ссуды Заемщик предоставляет Банку:
    <br>&nbsp;- заявление на кредит с указанием цели его использования;<br>
    &nbsp;- срочное обязательство н дату возврата кредита;<br>
    &nbsp;- гарантии платежеспособности.<br>
    &nbsp;5.2. Заемщик обязуется своевременно возвратить ссуду и проценты по ней и в соответствии с действующим законодательством отвечает по своим обязательствам принадлежащими ему финансовыми и материальными ресурсами.<br>
    &nbsp;5.3. При досрочном возврате ссуды Заемщик обязан предупредить Банк о своем намерении за 5 календарных дней.</p>
<p align="justify">&nbsp;VI. ПРОЧИЕ УСЛОВИЯ<br>
    &nbsp;6.1. Договор вступает в силу с даты списания средств по ссуде со счета Банка и заканчивает свое действие после полного погашения Заемщиком ссуды, перечисления процентов по ней и выполнения Заемщиком других условий договора.<br>
    &nbsp;6.2. Банк вправе востребовать с Заемщика ссуду и проценты по ней досрочно в случае задержки перечисления процентов или нарушения любого из условий договора.<br>
    &nbsp;6.3. Все изменения и дополнения по настоящему договору действительны лишь в том случае, если они совершены в письменной форме и подписаны уполномоченными на то лицами.<br>
    &nbsp;6.4. Если одна из сторон изменит свой адрес, то она обязана своевременно информировать об этом другую сторону.<br>
    &nbsp;6.5. Все споры, возникающие в процессе исполнения настоящего договора, будут в предварительном порядке рассматриваться сторонами в целях выработки взаимоприемлемого решения.<br>
    &nbsp;6.6. При недостижении договоренности спор передается на рассмотрение в Арбитраж в соответствии с действующим законодательством.</p>
<p align="justify">&nbsp;VII. ЮРИДИЧЕСКИЕ АДРЕСА И РЕКВИЗИТЫ СТОРОН:<br>&nbsp;Банк: Минск, ул. Гикало, 9<br>
    &nbsp;Заемщик: @Model.Client.Address<br>
<p align="justify">&nbsp;Настоящий договор составлен в 4-х экземплярах: первый и четвертый хранятся в Банке, второй у Заемщика, третий находится в учреждении Банка по месту открытия расчетного счета Заемщика.</p>
    <p align="justify">&nbsp;БАНК &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ЗАЕМЩИК<br>&nbsp;_______________ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_______________</p><div align="justify">&nbsp;М.П. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;М.П.<br><br></div>


</body>
</html>
