@using System.Collections
@model IEnumerable<BLL.Services.Credits.CreditRequest.ViewModels.CreditRequestViewModel>

@{
    ViewBag.Title = "Необработанные заявки на кредит";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Currency = (new[] {new SelectListItem {Text = "Валюта...", Value = string.Empty}}).Concat((IEnumerable<SelectListItem>) ViewBag.Currency);
    ViewBag.CreditTypes = new[] {new SelectListItem {Text = "Тип кредита...", Value = string.Empty}}.Concat((IEnumerable<SelectListItem>)ViewBag.CreditTypes);
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_EmployeeMenuPartial")
    </div>
    <div class="col-md-9">
        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm((string)ViewBag.EmployeeType, "Employee", FormMethod.Get, new { @class = "form-inline" }))
        {
            <label>
                Минимальная сумма
                <input type="number" name="MinCreditSumValue" class="form-control" value="@Request.QueryString["MinCreditSumValue"]" />
            </label>
            @Html.DropDownList("CreditSumCurrencyId", (IEnumerable<SelectListItem>)ViewBag.Currency, new { @class="form-control" })
            @Html.DropDownList("CreditTypeId", (IEnumerable<SelectListItem>)ViewBag.CreditTypes, new { @class = "form-control" })
            <button type="submit" class="btn btn-primary">Поиск</button>
        }

        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>ФИО</th>
                <th>Тип кредита</th>
                <th>Цель кредита</th>
                <th>Сумма</th>
                <th>Период (месяцев)</th>
                <th>Назначена на меня</th>
            </tr>
            </thead>
            <tbody>
                @{ var index = 0; }
                @foreach (var request in Model)
                {
                    <tr>
                        <td>@(++index)</td>
                        <td>@Html.ActionLink(request.Client.FullName, "RequestDetails", new {id = request.Id, type = ViewBag.EmployeeType})</td>
                        <td>@request.CreditType.Name</td>
                        <td>@request.CreditPurpose</td>
                        <td>@request.CreditSum.Value @request.CreditSum.Currency.Name</td>
                        <td>@request.MonthDuration</td>
                        <td>
                            @if (request.LatestEmployeeHandledBy != null)
                            {
                                <span class="yes">+</span>
                            }
                            else
                            {
                                <span class="no">-</span>
                            }
                        </td>
                    </tr>
                    }
            </tbody>
        </table>
    </div>
</div>