@using BLL.Services.Credits.BankCredits.CreditTypes.ViewModels
@model BLL.Services.Credits.CreditRequest.ViewModels.CreditRequestViewModel

@{
    ViewBag.Title = "Новый кредит";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_ClientMenuPartial")
    </div>
    <div class="col-md-5">
        <h2>@ViewBag.Title</h2>
        
        @using (Html.BeginForm("AddCredit", "Client", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "Увы, но запрос заполнен некорректно:", new {@class = "text-danger"})

            <div class="form-group">
                @Html.LabelFor(model => model.CreditType)
                @Html.DropDownListFor(model => model.CreditType.Id, (IEnumerable<SelectListItem>)(ViewBag.CreditTypes), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CreditType, string.Empty, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MonthDuration)
                @Html.TextBoxFor(model => model.MonthDuration, new { @class = "form-control", type = "number" })
                @Html.ValidationMessageFor(model => model.MonthDuration, string.Empty, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CreditSum)
                <div class="row">
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.CreditSum.Value, new { @class = "form-control", type = "number" })
                        @Html.ValidationMessageFor(model => model.CreditSum.Value, string.Empty, new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.CreditSum.Currency.Id, (IEnumerable<SelectListItem>)(ViewBag.Currency), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CreditSum, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CreditPurpose)
                @Html.TextBoxFor(model => model.CreditPurpose, new { @class = "form-control", placeholder = "На личные нужды" })
                @Html.ValidationMessageFor(model => model.CreditPurpose, string.Empty, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-lg" value="Создать" />
            </div>
        }
    </div>
    <div class="col-md-4">
        <h3>Типы кредитов</h3>
        <hr/>
        @Html.Partial("_CreditTypesPartial", (IEnumerable<CreditTypeViewModel>)ViewBag.CreditTypesInfo)
    </div>
</div>