@model IEnumerable<BLL.Services.Credits.CreditAccountState.ViewModels.CreditAccountStateViewModel>

@{
    ViewBag.Title = "Текущие кредиты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_ClientMenuPartial")
    </div>
    <div class="col-md-9">
        <h2>@ViewBag.Title</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Номер договора</th>
                    <th>Тип кредита</th>
                    <th>Валюта</th>
                    <th>Осталось</th>
                    <th>Долг за месяцы</th>
                    <th>Всего</th>
                    <th>Пеня</th>
                    <th>Невыплаченные проценты</th>
                    <th>Погашен</th>
                </tr>
            </thead>
            <tbody>
                @{ var index = 0; }
                @foreach (var credit in Model)
                {
                index++;
                    <tr>
                        <td>@index</td>
                        <td>@credit.CreditAccount.CreditAgreementNumber</td>
                        <td>@credit.CreditAccount.CreditType.Name</td>
                        <td>@credit.CreditAccount.Currency.Name</td>
                        <td>@credit.RemainDebt.Value</td>
                        <td>@credit.MainDebtRemain.Value</td>
                        <td>@credit.CreditAccount.CreditRequest.CreditSum.Value</td>
                        <td>@credit.FinesForOverdue.Value</td>
                        <td>@credit.TotalInterestSumNotPaid.Value</td>
                        <td>@Html.DisplayFor(m => credit.CreditAccount.IsClosed)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>