@model IEnumerable<BLL.Services.Credits.CreditRequest.ViewModels.CreditRequestViewModel>

@{
    ViewBag.Title = "Текущие заявки на кредит";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_ClientMenuPartial")
    </div>
    <div class="col-md-9">
        <h2>@ViewBag.Title</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Тип кредита</th>
                <th>Сумма</th>
                <th>Валюта</th>
                <th>Кол-во месяцев</th>
                <th>Кассир</th>
                <th title="Служба безопасности банка">Безопасность</th>
                <th title="Отдел выдачи кредитов">Отдел</th>
                <th title="Кредитный комитет">Комитет</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
            @{ var index = 0; }
            @foreach (var request in Model)
            {
                index++;
                <tr>
                    <td>@index</td>
                    <td>@request.CreditType.Name</td>
                    <td>@request.CreditSum.Value</td>
                    <td>@request.CreditSum.Currency.Name</td>
                    <td>@request.MonthDuration</td>
                    <td>
                        @if (request.IsOperatorApproved.HasValue)
                            {
                                if (request.IsOperatorApproved.Value) { <span class="yes">+</span> }
                                else { <span class="no">-</span> }
                            }
                    </td>
                    <td>
                        @if (request.IsSecurityApproved.HasValue)
                        {
                            if (request.IsSecurityApproved.Value) { <span class="yes">+</span> }
                            else { <span class="no">-</span> }
                        }
                    </td>
                    <td>
                        @if (request.IsCreditDepartmentApproved.HasValue)
                        {
                            if (request.IsCreditDepartmentApproved.Value) { <span class="yes">+</span> }
                            else { <span class="no">-</span> }
                        }
                    </td>
                    <td>
                        @if (request.IsCreditCommitteeApproved.HasValue)
                        {
                            if (request.IsCreditCommitteeApproved.Value) { <span class="yes">+</span> }
                            else { <span class="no">-</span> }
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("RemoveCreditRequest", new {id = request.Id})" onclick="return confirm('Вы уверены?');">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>